# Custom
# 'test/' will exclude './file_lists/test/' too
file_lists/**
files/**
test/**
log/**
!logging_module.py
.idea/
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
# pyenv
.python-version
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/